@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-VariableFont_slnt,wght.ttf);
    }
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
    font-family: 'Inter';
}

body {
    height: 100%;
    margin: 0;
    /* background: linear-gradient(#191A1F 50%, rgba(7,6,93,1) 73%, rgba(16,16,185,1) 104%); */
    background: linear-gradient( 180deg, #000001, #011439);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* overflow: scroll; */ 
    font-family: sans-serif;
}

/* LOGIN CSS */

@media only screen and (max-width: 500px) {
    .welcome-box{
        top: 5% !important;
        left: 1% !important;
        transform: none !important;
    }

    .login-box{
        top: 54% !important;
        left: 55% !important;
        background: none !important;
        box-shadow: none !important;
        gap: 20px !important;
    }

    .login-box .user-box{
        width: 90% !important;
    }
    
    .descripcion{
        display: none !important;
    }

    .welcomeLabel{
        font-size: 1.5rem !important;
    }

    h2{
        font-size: 18px !important;
    }

    .textoregistro{
        margin-top: 360px !important;
        font-size: 16px !important;
    }

    .button2{
        width: 120px !important;
        margin-left: 31% !important;
    }

    .imgrobotinfo{
        width: 30% !important;
        height: 30% !important;
    }
  }

  @media only screen and (max-width: 350px){
    .login-box{
        margin-top: 75px;
    }
    
    .button2 {
        width: 120px !important;
        margin-left: 35% !important;
    }

    .textoregistro{
        margin-left: 22%;
    }

    h2{
        font-size: 16px;
    }
}

body {background: #191A1F;overflow: hidden;height: 100%;}
html,#app {width: 100%;height: 100%;}
html,#vue_app {width: 100%;height: 100%;}

/* #infoContainer{
    background: #191A1F;

} */